@page "/games"
@using GameLogger.Core.Data
@using GameLogger.Core.Repositories
@using GameLogger.Core.UseCases
@inject GetGamesUseCase GetGamesUseCase
@rendermode InteractiveServer

<PageTitle>Games</PageTitle>

<h1>Games</h1>

<p>This component demonstrates showing data.</p>
@if (games is null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th aria-label="Temperature in Celsius">Start Date</th>
            <th aria-label="Temperature in Farenheit">End Date</th>
            <th>Rating</th>
            <th>Hours Played</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var game in games)
        {
            <GameLogger.Web.Components.Games.Game Data="game"/>
        }
        </tbody>
    </table>
}

@code {
    private IReadOnlyList<Game>? games;
    protected override async Task OnInitializedAsync()
    {
       var result = await GetGamesUseCase.Execute(new GetGamesQuery(1, 12));
       games = result;
    }
}